#messages {
  background-color: $light-dusk-purple3;
  height: calc(100% - 150px);
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 10px;
}

.msg-content {
  margin-right: 5px;
}

.message-form {
  margin: 30px;
}

.message {
  margin: 10px;

  &__user {
    color: $dusk-purple;
    font-size: 12px;
    margin-bottom: 12px;
  }

  &__body {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    display: inline-block;
    font-size: 15px;
    max-width: 40%;
    padding: 8px;
    width: fit-content;
    word-wrap: break-word;
  }
}
