#single_room {
  height: 70vh;

  .header {
    border-bottom: 1px solid $light-dusk-purple2;
    border-top-right-radius: 10px;
    padding-bottom: 5px;
    padding-top: 15px;

    h4 {
      color: $info;
      font-size: 18px;
    }
  }
}

.side_panel {
  background-color: $light-primary;
  background-image: linear-gradient(180deg,$light-primary 10%,$primary 100%);
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 35px;

  a {
    color: $light;

    &:hover {
      color: $light-dusk-purple3;
      text-decoration: none;
    }
  }

  &__current_user {
    h5 {
      font-size: 18px;
      display: inline;
      margin-left: 5px;
    }

    .avatar img {
      height: 40px !important;
      width: 40px !important;
    }
  }

  &__info {
    h4 {
      font-size: 18px;
      margin-top: 30px;
    }
  }

  #users, #rooms {
    height: 200px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .avatar {
    display: inline;

    img {
      width: 30px;
      height: 30px;
    }
  }

  #rooms {
    margin-top: 10px;
  }
}

.chatroom_container {
  border-radius: 10px;
  box-shadow: 0 0 13px 0 rgba(82,63,105,.08);
}

.chatroom_container, .room_container {
  margin-right: 0px !important;
}

.room, .user {
  padding: 5px 0;
}

.room-form {
  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      border: none;
    }
  }

  input.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.room-icon {
  margin-top: 32%;

  i {
    color: $light-grey;
    font-size: 120px;
  }
}
