$danger: #fd397a !default;
$dark-grey: #38383808;
$dark-primary: #2d54c7;
$dusk-grey: #48465b;
$dusk-purple:  #646c9a;
$fa-font-path: "font-awesome/fonts" !default;
$grey: #595d6e;
$info: #4E73DF;
$light: #f8f9fc !default;
$light-dusk-purple: #bec3d7;
$light-dusk-purple2: #f2f2fd;
$light-dusk-purple3: #e7eeff;
$light-grey: #e8ebf5;
$light-grey2: #898c9a;
$light-grey3: #e6eaf5;
$light-grey4: #f0f2f9;
$light-primary: #4E73DF;
$primary: #2e59d9 !default;
$red: #b91e3a;
$secondary: #f9f9fc !default;
$success: #1cc88a !default;
$warning: #f6c23e !default;
